#headingform {
    text-align: center;
    font-style: bold;
    color: blueviolet;
}
input[type=text] {
    border: 2px solid;
    border-radius: 4px;
    
  }
  #header
  {
      align-self: center;
      align-content: center;
      margin-left: 150px;
  }