<!-- <app-home-component></app-home-component> -->
<div>
    <h1>{{message}}</h1>
</div>

<div class="container">
    <h1 id="headingform">Add a candidate</h1>
    <form #userForm="ngForm"> 
        

        <div class="form-group" >
            <label >First Name</label>
            <input type="text" required #firstName="ngModel" [class.is-invalid]="firstName.invalid && firstName.touched" class="form-control" name="firstName" [(ngModel)]="userModel.firstName">
        <small class="text-danger" [class.d-none]="firstName.valid || firstName.untouched">First Name is required</small>
        </div>

        <div class="form-group">
            <label>Last Name</label>
            <input type="text" required #lastName="ngModel" [class.is-invalid]="lastName.invalid && lastName.touched" class="form-control" name="lastName" [(ngModel)]="userModel.lastName">
            <small class="text-danger" [class.d-none]="lastName.valid || lastName.untouched">Last Name is required</small>
        </div>

        <div class="form-group">
            <label>Email ID</label>
            <input type="text" required pattern="[^ @]*@[^ @]+\.[a-z]{2,}$"  #email="ngModel" [class.is-invalid]="email.invalid &&  email.touched" class="form-control" name="email" [(ngModel)]="userModel.email">
            <small class="text-danger" [class.d-none]="email.valid || email.untouched">email is required</small>
        </div>

        <div class="form-group">
            <label>Location</label>
            <select required #location="ngModel" [class.is-invalid]="location.invalid && location.touched" class="custom-select" [(ngModel)]="userModel.location" name="location">
                <option *ngFor="let l of Loc">{{l}}</option>
            </select>
            <small class="text-danger" [class.d-none]="location.valid || location.untouched">Please specify the location</small>
        </div>

        <div class="form-group">
            <label>Feedback</label>
            <input type="text" required #feedback="ngModel" [class.is-invalid]="feedback.invalid && feedback.touched" class="form-control" name="feedback" [(ngModel)]="userModel.feedback">
            <small class="text-danger" [class.d-none]="feedback.valid || feedback.untouched">Feedback is required</small>
        </div>

        <div class="form-group">
            <label>Job Description</label>
            <select required #jobDescription="ngModel" [class.is-invalid]="jobDescription.invalid && jobDescription.touched" class="custom-select" name="jobDescription" [(ngModel)]="userModel.jobDescription">
                <option *ngFor="let j of Role">{{j}}</option>
            </select>
            <small class="text-danger" [class.d-none]="jobDescription.valid || jobDescription.untouched">Please specify the Role</small>
        </div>

        <div class="form-group">
            <label>Contact Number</label>
            <input type="tel" required #contactNumber="ngModel" pattern="^\d{10}$" [class.is-invalid]="contactNumber.invalid && contactNumber.touched" class="form-control" name="contactNumber" [(ngModel)]="userModel.contactNumber" >
            <!--<small class="text-danger" [class.d-none]="contactNumber.valid || contactNumber.untouched">Contact number is required and must be of 10 digits</small>-->
            <div *ngIf="contactNumber.errors && ( contactNumber.invalid || contactNumber.touched )">
                <small class="text-danger" *ngIf="contactNumber.errors.required">Contact number is required</small>
                <small class="text-danger" *ngIf="contactNumber.errors.pattern">Contact number must be of 10 digits</small>        
            </div>
        </div>

        <!-- <div class="form-group">
            <label>Skills</label><br>
            <input type="checkbox" name="cpp" [(ngModel)]="userModel.cpp">
            <label>C++</label><br>
            <input type="checkbox"  name="java" [(ngModel)]="userModel.java">
            <label>Java</label><br>
            <input type="checkbox"  name="pytho" [(ngModel)]="userModel.pytho">
            <label>Python</label><br>
            <input type="checkbox"  name="ang" [(ngModel)]="userModel.ang">
            <label>Angular</label><br>
            <input type="checkbox"  name="spr" [(ngModel)]="userModel.spr">
            <label>Spring</label><br>
        </div> -->

        <div class="col text-center">
        <button [disabled]="userForm.form.invalid" class="btn btn-primary" type="submit" (click)="enrollNow()">Submit Details</button>
        </div><br>
        {{errorMsg}}<br>

    </form>
</div>


