<h1 class="card-header bg-info" id ="header">
    View Candidates
 </h1>
<div class="container">
    <div class="container">
        <div class="row col-md-6 col-md-offset-2 custyle">
            <table class="table table-striped custab">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>First Name</th>
                       
                        <th>Email</th>
                        <th>Feedback</th>
                        <th>Location</th>
                        <th>Job Description</th>
                        <th>Skills</th>
                        <th>Contact Number</th>
                        <th>Delete</th>
                        <th>Edit</th>
                    </tr>
                </thead>
                <tbody *ngFor="let user of users| paginate: { itemsPerPage: 5, currentPage: p }">
                    <tr >
                        <td>{{user.id}}</td>
                        <td>{{user.firstName}}</td>
                       
                        <td>{{user.email}}</td>
                        <td>{{user.feedback}}</td>
                        <td>{{user.location}}</td>
                        <td>{{user.jobDescription}}</td>
                        <td>{{user.lastName}}</td>
                        <td>{{user.contactNumber}}</td>
                        <td class="text-center"><button class="btn btn-danger btn-xs"
                                (click)="deleteCandidate(user.id)"><span class="glyphicon glyphicon-remove"></span>
                                Delete</button></td>
                        <td><button type="button" class="btn btn-primary" (click)="openEdit(user.id,user)">Edit</button>
                        </td>
                    </tr>
                       
                        <div *ngIf="this.showedit==true  && this.curr==user.id">
                            <br>
                            <br>
                            <div class="container">
                                <div class="search">
                                    <label>Feedback</label>
                                    <input type="text" required #feedback="ngModel" [class.is-invalid]="feedback.invalid && feedback.touched" class="form-control" name="feedback" [(ngModel)]="user.feedback">
                                    <small class="text-danger" [class.d-none]="feedback.valid || feedback.untouched">Feedback is required</small>
                                </div>
                                <div class="search">
                                    <label>Location</label>
                                    <select required #location="ngModel" [class.is-invalid]="location.invalid && location.touched" class="custom-select" [(ngModel)]="user.location" name="location">
                                        <option *ngFor="let l of Loc">{{l}}</option>
                                    </select>
                                    <small class="text-danger" [class.d-none]="location.valid || location.untouched">Please specify the location</small>
                                </div>
                        
                                <div class="search">
                                    <label>Contact Number</label>
                                    <input type="tel" required #contactNumber="ngModel" pattern="^\d{10}$" [class.is-invalid]="contactNumber.invalid && contactNumber.touched" class="form-control" name="contactNumber" [(ngModel)]="user.contactNumber" >
                                    <!--<small class="text-danger" [class.d-none]="contactNumber.valid || contactNumber.untouched">Contact number is required and must be of 10 digits</small>-->
                                    <div *ngIf="contactNumber.errors && ( contactNumber.invalid || contactNumber.touched )">
                                        <small class="text-danger" *ngIf="contactNumber.errors.required">Contact number is required</small>
                                        <small class="text-danger" *ngIf="contactNumber.errors.pattern">Contact number must be of 10 digits</small>        
                                    </div>
                                </div>
                                <div class="search">
                                    <label>Skills</label>
                                    <input type="text" required #lastName="ngModel" [class.is-invalid]="lastName.invalid && lastName.touched"
                                        class="form-control" name="lastName" [(ngModel)]="user.lastName">
                                    <small class="text-danger" [class.d-none]="lastName.valid || lastName.untouched">Last Name is
                                        required</small>
                                </div>
                                <div class="search">
                                    <label>Job Description</label>
                                    <select required #jobDescription="ngModel"
                                        [class.is-invalid]="jobDescription.invalid && jobDescription.touched" class="custom-select"
                                        name="jobDescription" [(ngModel)]="user.jobDescription">
                                        <option *ngFor="let j of Role">{{j}}</option>
                                    </select>
                                    <small class="text-danger" [class.d-none]="jobDescription.valid || jobDescription.untouched">Please specify
                                        the Role</small>
                                </div>
                                
                            </div>
                            <button class="btn btn-primary" type="submit" (click)="updateDetails(user.id,user)">Submit Details</button>
                        </div>
                 
                   
                </tbody>
                <pagination-controls (pageChange)="p = $event"></pagination-controls>
            </table>
        </div>
    </div>
</div>
