<!-- <app-home-component></app-home-component> -->
<!-- <app-createcandidate></app-createcandidate> -->
<!-- <app-home-component> -->
<!-- <app-searchdelete></app-searchdelete> -->
<!-- </app-home-component> -->
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Accolite University</title>
    <style>
        #centeralign {
            text-align: center;
            padding: 10px;
        }

        .signoutoption {
            position: absolute;
            top: 0;
            right: 100;
        }
    </style>
</head>

<body class="bg-light">
    <div style="float:right" class="container">
        <div style="float:right" class="signoutoption" *ngIf="loggedIn===true">
            <button style="float:right" type="button" (click)="signOut()" class="btn btn-primary">Sign Out</button>
        </div>
        <div class="row py-5 justify-content-center">
            <div class="col-md-8">



                <div class="centeralign" *ngIf="loggedIn===false">
                    <h1 class="text-center py-4">AU Management Portal</h1>
                    <br>

                    <br>
                    <br>
                    <button type="button" (click)="signInWithGoogle()" class="btn btn-primary">Sign In With
                        Google</button>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="loggedIn===true">
        <app-home-component></app-home-component>


    </div>


</body>

</html>

<!-- <router-outlet></router-outlet> -->