<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Accolite University</title>
  
</head>

<body class="bg-light">
    <div  class="container">
       
       <!-- <div class="signoutoption" *ngIf="loggedIn===true">
            <button style="float:right" type="button" (click)="signOut()" class="btn btn-primary">Sign Out</button>
        </div>
        -->
        
            <div  style="top:0px;right:-300px">
            <div class="col-md-8">



                <div style="margin-left: 380px;" *ngIf="loggedIn===false">
                    <h1 style="margin-left: -40px;" class="text-center py-4">AU Management Portal</h1>
                    <br>
                    <img src="assets/images/AU.jfif">
                    <br>
                    <br>
                    <button style="margin-left: 38px; background-color:rgb(55, 53, 173);
                    color:white;border-radius: 5px;" type="button" (click)="signInWithGoogle()" >Sign In With
                        Google</button>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="loggedIn===true">
        
        <app-sidebar></app-sidebar>
       <app-home-component></app-home-component>
        <router-outlet></router-outlet>
        
    </div>


</body>

</html>
