<!-- <app-home-component></app-home-component> -->
<!-- <app-createcandidate></app-createcandidate> -->
<!-- <app-home-component> -->
<!-- <app-searchdelete></app-searchdelete> -->
<!-- </app-home-component> -->
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Accolite University</title>
  
</head>

<body class="bg-light">
    <div  class="container">
        <div class="signoutoption" *ngIf="loggedIn===true">
            <button style="float:right" type="button" (click)="signOut()" class="btn btn-primary">Sign Out</button>
        </div>
        
            <div  style="top:0px;right:-300px">
            <div class="col-md-8">



                <div style="top:0px;right:-300px" class="centeralign" *ngIf="loggedIn===false">
                    <h1 class="text-center py-4">AU Management Portal</h1>
                    <br>

                    <br>
                    <br>
                    <button style="top:0px;right:-300px" type="button" (click)="signInWithGoogle()" class="btn btn-primary">Sign In With
                        Google</button>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="loggedIn===true">
        
        <app-sidebar></app-sidebar>
        <router-outlet></router-outlet>
        
    </div>


</body>

</html>
<!-- <app-edit></app-edit> -->
<!-- <router-outlet></router-outlet> -->